main {
  max-width: 100vw;
  max-height: 100vh;
  height: 100%;
  width: 90%;
  margin-top: 0;
}

/* ------------------ Carousel Styles ------------------ */

.carousel {
  width: 100%;
  height: 100%;
}

.carousel-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-slide img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-slide {
  border: unset;
  outline: unset;
  background-color: unset;
}

.image-container {
  height: 250px;
}

.slide-title {
  font-size: 80%;
}

.slide-description {
  font-size: 60%;
}

.mycarousel {
  margin-top: 7%;
}

@media (max-width: 760px) {
  .carousel-button-next,
  .carousel-button-prev {
    display: none;
  }

  .mycarousel {
    margin-top: 2%;
  }
}

/* ------------------ Game Form Styles ------------------ */



/* ------------------ Session Styles ------------------ */

.session-container {
  width: 100%;
  height: 100%;
  display: flex;
  color: #000;
  font-family: 'Nunito', sans-serif;
  align-items: center;
  justify-content: center;
  background-image: url('/src/main_page_bg.webp');
  background-size: cover;
  background-position: center;
}

.session-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sesion-title {
  width: 80%;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: -4%;
}

.session-logo-container {
  margin: 10% 0;
  width: 45%;
}

.session-logo {
  width: 100%;
  border-radius: 10%;
  border: 15px gold solid;
}

.session-btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: large;
  font-weight: bold;
}

.session_btn {
  width: 100%;
  background-color: limegreen;
  text-decoration: none;
  color: #000;
  margin-bottom: 5%;
  padding: 1% 2%;
  border-radius: 11px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .session-content {
    width: 70%;
  }

  .session-logo-container {
    margin: 5% 0;
    width: 25%;
  }

  .session-logo {
    width: 100%;
  }

  .session_btn {
    width: 70%;
    margin-bottom: 2%;
  }
}

/* ------------------ Details Page Styles ------------------ */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.headerDetails {
  color: #b60214;
  text-align: start;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.Details {
  color: #333;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.Details h3 {
  color: #b60214;

  /* margin-bottom: 10px; */
  width: 100%;
}

.Details p {
  color: #141414;
  padding: 7px;
  margin: 5px 0;
}

.Details img {
  width: 75%;
  height: auto;
  margin-top: 20px;
  box-shadow: 0 0 10px rgb(207 48 48 / 80%);
  border-radius: 8px;
}
