body {
    margin: 0;
    font-family:
      'Segoe UI',
      'Roboto',
      'Oxygen',
      'Ubuntu',
      'Cantarell',
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    color: #fff;
  }
  
  section {
    margin-top: 70px;
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 1rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
  }
  
  input[type='text'],
  input[type='email'],
  input[type='password'],
  button,
  textarea {
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    padding: 0.25rem;
    border-radius: 0.5rem;
    border: 1px solid #204d07;
  }
  
  label,
  button {
    margin-top: 1rem;
  }
  
  button {
    padding: 0.5rem;
  }
  
  @media (max-width: 768px) {
    section {
      margin-top: 20px;
      width: 100%;
      max-width: 420px;
      min-height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 1rem;
    }
  }
  
  @media (min-width: 768px) {
    .skeleton-img {
      height: 300px;
    }
  }
  
  @media (min-width: 1024px) {

  }
  
  @media (min-width: 1400px) {

  }
  
  .border-color {
    border: 1px solid rgb(146, 45, 11);
  }
  
  .btn-color {
    background: rgb(146, 45, 11);
  }
  
  .text-color {
    color: rgb(146, 45, 11);
  }
  
  /* App.css styles */
  
  .App {
    text-align: center;
  }
  
  .App-header {
    background-color: rgb(52, 44, 40);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  /* Navbar styles */
  
  .sidebar-logo-container {
    width: 150px;
    height: 150px;
  }
  
  .sidebar-logo {
    width: 100%;
  }
  
  .side-bar {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #fff;
    height: 100vh;
    padding-top: 40px;
    gap: 50px;
    box-shadow: 2px 2px 8px gray;
  }
  
  #root {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
  }